.forget{
    width:400px;
    position: absolute;
    top:50%;
    left: 50%;
    padding-top: 10px;
    transform: translate(-50%,-50%);
    background-color: #fff;
    text-align: center;
    font-size: 16px;
    border-radius: 30px;
    box-shadow: 10px 5px 5px;
    color: rgb(92, 84, 84);
}

.forget-form{
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    flex-direction: column;
}

.forget-form-heading h1{
        color: #fff;
        text-transform: uppercase;
        font-weight: 500px;
}

.forget-form-body{
    padding: 10px;
}
.forget-form-body div{
    padding: 10px;
}

input[type="text"], input[type="password"]{
    padding: 15px;
    background-color:#ededed !important ;
    border: none;
    width: 95%;
    
}
.form-lable{
    padding-bottom: 5px;
    font-size: 14;
    text-align: left;
}
.forget-link {
    display: flex;
    justify-content: space-around;
}
.forget-link a{
    text-decoration: none;
    color: #fff;
}
.forget-link a:hover{
    text-decoration: none;
    color:#09b83e;
}

.form-action{
    display: flex;
    justify-content: flex-start;
}

button{
    margin-left: 10px;
    border: none;
    padding: 10px 15px 10px 15px;
    font-size: 14px;
    background: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    border-radius: 50px;
    border: 1px solid #3aaf85;
    cursor: pointer;
}
button:hover{
    background:#3aaf85;
    color: #fff;
}
